<!-- permanent redirect to heroku web server from joogaia-->
<!DOCTYPE HTML><html lang="en"><head><meta charset="UTF-8"/>
<style>
  #video-check span.cross {
    position: relative;
    margin-left: -11px;
    margin-right: 6px;
    color: red;
    font-weight:bold;
  }
  #video-check.active span.cross {
    display: none;
  }
  #video-check img {
    zoom: 0.5;
    position: relative;
    margin-top:-5.1px;
  }
  #connectWindow button{
    margin-bottom:10px !important;
  }
  #canvas {
    position:relative;
    width:100%;
    border:1px solid blue;
    display:none;
    background:#000;
  }
  #user {
    width:240px;
    height:180px;
    background-color:#000;
    border:0.2em solid gray;
    float:left;
  }
  #students .student {
    border:0.1em solid gray;
    width:120px;
    height:90px;
    float:left;
  }
  #user-names p{
    float:left
  }
  #user-names p:not(:last-child):after {
    content:',';
    margin-right:0.2em;
  }
  #mute-all {
    position: absolute;
    z-index: 1;
    top: 0.5em;
    left: 0.5em;
  }
</style>
</head><body>
<div id="connectWindow" class="hero-unit">
  <!-- number of available streams 16/20 -->
  <!--label id="connections">Available <span>20</span> seats</label-->
  <input type="text" id="publisherName" value="Type your name" onclick="if(this.value == 'Type your name') this.value='' "/>
  <button class="btn" id="connect" connected="Back to fullscreen" disabled onclick="connectToStream(event)">Create your class</button>
</div>
<div id="canvas">
  <a href="#mute=all" class="btn" id="mute-all" onclick="return false">Mute all</a> 
  <div id="user">
    <!-- user window -->
  </div>
  <div id="students">
    <!-- 10 -->
    <div class="student"></div>
    <div class="student"></div>
    <div class="student"></div>
    <div class="student"></div>
    <div class="student"></div>
    <div class="student"></div>
    <div class="student"></div>
    <div class="student"></div>
    <div class="student"></div>
    <div class="student"></div>
    <!-- 20 -->
    <div class="student"></div>
    <div class="student"></div>
    <div class="student"></div>
    <div class="student"></div>
    <div class="student"></div>
    <div class="student"></div>
    <div class="student"></div>
    <div class="student"></div>
    <div class="student"></div>
    <div class="student"></div>
    <!-- students go here -->
    <!--
    it would be a 3x2 grid filling the screen, 
    or a 3x3 or 4x3 grid and eventually 
    5x4 if there are 20 or almost 20
    -->
  </div>
  <div style="clear:both"></div>
  <div id="user-names">
    <!--
      display list of users subscribed and 
      who published their video/name
      after 20 people, no video of them displayed
    -->
    <!--p>John Smith</p>
    <p>Amanda Hamilton</p>
    <p>Steve Jobs</p-->
  </div>
  <div style="clear:both"></div>
</div>
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
<link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"/>
<script type="text/javascript" src="https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
  // Initialize API key, session, and token, generated from server side
  var apiKey = "<%= OpenTokKey %>";
  var sessionId = "<%= sessionId %>";
  var token = "<%= token %>";
  var publisher;
  var screen = {
    /*
    1024x768
    
    teacher:
    w2 = (1024/5)*2;
    h2 = w2 * h / w
    students:
    w2 = (1024/5);
    h2 = w * h / w
    */
    videoWidth: function(m) {
      m = m || 1;
      return ((this.width/5) - 2/*px border*/*5) * m;
    },
    videoHeight: function(w, h, m) {
      m = m || 1;
      return ((((this.width/5) - 2/*px border*/*5) * m) * h) / w;
    }
  };

  // Enable console logs for debugging
  TB.setLogLevel(TB.DEBUG);

  // Initialize session, set up event listeners, and connect
  var session = TB.initSession(sessionId);
  session.on('sessionConnected', sessionConnectedHandler);
  session.on("connectionCreated", connectionCreatedHandler);
  session.on('streamCreated', streamCreatedHandler);
  session.on('streamModified', streamModifiedHandler);
  session.connect(apiKey, token);

  $('#video-check a').click(function(e) {
    $(this).parent().toggleClass('active');
  });

  $('#mute-all').click(function(e) {
    // signal students to turn off their mike
    session.signal({
      type: 'mute',
      data: { sound: false },
      success: function () {
        console.debug("signal sent");
      }
    });
  });

  $(window).resize(function() {
    // reference to http://davidwalsh.name/fullscreen
    if(document.webkitFullscreenElement == null) {
      // if user ends the fullscreen mode
      // make sure to hide canvas and show connection window
      $("#connectWindow").show();
      $("#canvas").hide();
      // but keep the session do not republish it
    }
  });
  
  function enterFullScreenHandler() {  
    console.debug($(window).width(), 
                  $(window).height(), document.webkitFullscreenElement);
    
    // catch the window screen size at the correct moment
    screen = $.extend(screen, {
              width: $(window).width(),
              height: $(window).height()});
              
    // onclick create publisher
    // create publisher and start streaming into the session
    // subscribe to resize window
    if(publisher == null) {
      publisher = TB.initPublisher(apiKey, 'user', {
        // will depend on the view (teacher/student)
        // 240x180
        width: screen.videoWidth(2), 
        height: screen.videoHeight(240, 180, 2), 
        name: $("#publisherName").val(),
        //publishVideo: $('#video-check').hasClass('active')
      });
      session.publish(publisher);
    }
    // make sure to hide connection window after connection
    $("#connectWindow").hide();
    $("#canvas").show();

    // disable input name field
    $('#publisherName').attr('disabled', 'disabled');
    // change connect label to return back
    $("#connect").text($("#connect").attr('connected'));
    
    // remove on window resize handler, we need it only once
    $(window).off('resize', enterFullScreenHandler);
  }

  function createPublisherHandler() {
    // subscribe to resize window
  }
  
  function connectToStream(e) {
    // enable full screen mode for canvas only
    // handle publisher then
    $(window).on('resize', enterFullScreenHandler);
    // reference to http://www.sitepoint.com/html5-full-screen-api/
    if (_checkMethod(document, "FullScreen") 
     || _checkMethod(document, "IsFullScreen")) {
        _checkMethod(document, "CancelFullScreen");
    } else {
      _checkMethod($("#canvas").get(0), "RequestFullScreen");
    }
  }
  
  function sessionConnectedHandler(event) {
    console.debug("session connected", event);

    // activate connection button 
    $("#connect").removeAttr('disabled');
  }

  function connectionCreatedHandler(event) {
    console.debug('connection created', event);
  }
  
  function streamModifiedHandler(event) {
    console.debug('stream modified', event);
  }
  
  function streamCreatedHandler(event) {
    console.debug('stream created', event);
    // Subscribe to any new streams that are created
    subscribeToStudents(event.streams);
  }

  function subscribeToStudents(streams) {
    console.debug("Create students");
    // adjust scale for video
    var options = {
      width: screen.videoWidth(), 
      height: screen.videoHeight(120, 90)};
    // adjust scale styles for student
    $('#students .student').css({
       width: options.width + 'px',
       height: options.height + 'px'});

    for (var i = 0; i < streams.length; i++) {
      // Make sure we don't subscribe to ourself
      if (streams[i].connection.connectionId == session.connection.connectionId) {
        return;
      }
      
      // Create the div to put the subscriber element in to
      var student = $('<div></div>').attr('id', streams[i].streamId);
      $($("#students .student").get($('#students video').length)).html(student);
      // Subscribe to the stream
      var subscriber = session.subscribe(streams[i], student.get(0).id, options);
      subscriber.setStyle({nameDisplayMode: 'on'});

      //keep for testing purposes
      //subscriber.subscribeToAudio(false);
    }
  }
</script>
<script>
  // unified fullscreen method for cross browser
  var pfx = ["webkit", "moz", "ms", "o", ""];
  function _checkMethod(obj, method) {
    var p = 0, m, t;
    while (p < pfx.length && !obj[m]) {
      m = method;
      if (pfx[p] == "") {
        m = m.substr(0,1).toLowerCase() + m.substr(1);
      }
      m = pfx[p] + m;
      t = typeof obj[m];
      if (t != "undefined") {
        pfx = [pfx[p]];
        return (t == "function" ? obj[m]() : obj[m]);
      }
      p++;
    }
  }
</script>
</body></html>
